@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #1a1a1a;
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

@layer utilities {
  .mobile-text {
    text-align: justify;
    text-justify: inter-character;
    line-break: strict;
    overflow-wrap: break-word;
    word-break: normal;
  }
}
